/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');

:root {
    --hov: #CAD2C5;
}

/* body {
  background: rgb(2, 0, 36);
  background: linear-gradient(315deg, rgba(2, 0, 36, 1) 0%, rgba(82, 121, 111, 1) 35%, rgba(47, 62, 70, 1) 100%);
  -webkit-animation: bg-pan-left 8s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
  animation: bg-pan-left 8s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
} */

.gridMain {
  height: 100%;
}

.gridFooter {
  width: 100%;
  margin: 0;
  bottom: 0;
}

/* .bodyWrapper {
    width: 100%;
    -webkit-animation: bg-pan-left 8s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
    animation: bg-pan-left 8s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
    background: rgb(2, 0, 36);
    background: linear-gradient(315deg, rgba(2, 0, 36, 1) 0%, rgba(82, 121, 111, 1) 35%, rgba(47, 62, 70, 1) 100%);
} */

.linkIcon:hover {
    border-bottom: 1px;
    box-shadow: 0 2px var(--hov);
}

.cardImg {
    object-position: top;
}

.projCard {
    flex: 1;
    max-width: 33%;
    transition: all 250ms ease;
}

.projCard:hover {
    transform: scale(1.05);
}

/* Bg animation */

@keyframes bg-pan-left {
    0% {
      background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @-webkit-keyframes bg-pan-left {
    0% {
      background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }